<a href="https://colab.research.google.com/github/shaily-uni/data-science-python/blob/main/comprehension.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
list_of_numbers=[1,2,4,6,11,14,17,20]
squared_numbers=[]
for numbers in list_of_numbers:
    squared_numbers.append(numbers**2)
print(f"the list of sqaured numbers is {squared_numbers}")

the list of sqaured numbers is [1, 4, 16, 36, 121, 196, 289, 400]

In [2]:
squared_numbers=[numbers**2 for numbers in list_of_numbers]
print(squared_numbers)

[1, 4, 16, 36, 121, 196, 289, 400]

In [3]:
print(list_of_numbers)

[1, 2, 4, 6, 11, 14, 17, 20]

In [4]:
even_numbers_list=[number**2 for number in list_of_numbers if number%2==0]
print(even_numbers_list)

[4, 16, 36, 196, 400]

In [6]:
odd_numbers_list=[number**2 for number in list_of_numbers if number%2!=0]
print(odd_numbers_list)

[1, 121, 289]

In [8]:
odd_squared_numbers=[number**2 if number%2!=0 else number**3 for number in list_of_numbers]
print(odd_squared_numbers)

[1, 8, 64, 216, 121, 2744, 289, 8000]

In [9]:
list(range(4))

[0, 1, 2, 3]

In [10]:
list_of_numbers=[]
for num1 in range(4):
    for num2 in range(3):
        list_of_numbers.append(num2)
print(list_of_numbers)

[0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2]

In [11]:
list_of_numbers=[num2 for num1 in range(4) for num2 in range(3)]
print(list_of_numbers)

[0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2]

In [12]:
list_of_numbers=[num2**2 for num2 in range(3) for num1 in range(4)]
print(list_of_numbers)

[0, 0, 0, 0, 1, 1, 1, 1, 4, 4, 4, 4]

In [13]:
sample=[[]]
len(sample)
sample[0]

[]

In [14]:
list_of_lists=[]
for num1 in range(4):
    list_of_lists.append([])
for num2 in range(3):
    list_of_lists[num1].append(num2)
print(list_of_lists)

[[], [], [], [0, 1, 2]]

In [15]:
list_of_lists=[[num2 for num2 in range(3)] for num1 in range (4)]
print(list_of_lists)

[[0, 1, 2], [0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [16]:
list_of_lists=[[num1 for num2 in range(3)] for num1 in range (4)]
print(list_of_lists)

[[0, 0, 0], [1, 1, 1], [2, 2, 2], [3, 3, 3]]

In [23]:
heisenberg_quote="it ceases to exist without me no clearly dont know who you are taking to so let me clue you in dang"
words_by_walter=heisenberg_quote.split(' ')
print(words_by_walter)

['it', 'ceases', 'to', 'exist', 'without', 'me', 'no', 'clearly', 'dont', 'know', 'who', 'you', 'are', 'taking', 'to', 'so', 'let', 'me', 'clue', 'you', 'in', 'dang']

In [24]:
heisenberg_quote.split('t')

['i',
 ' ceases ',
 'o exis',
 ' wi',
 'hou',
 ' me no clearly don',
 ' know who you are ',
 'aking ',
 'o so le',
 ' me clue you in dang']

In [25]:
first_letters=[]
for word in words_by_walter:
  first_letters.append(word[0])
print(first_letters)

['i', 'c', 't', 'e', 'w', 'm', 'n', 'c', 'd', 'k', 'w', 'y', 'a', 't', 't', 's', 'l', 'm', 'c', 'y', 'i', 'd']

In [27]:
first_letters=[word[0] for word in words_by_walter]
print(first_letters)

['i', 'c', 't', 'e', 'w', 'm', 'n', 'c', 'd', 'k', 'w', 'y', 'a', 't', 't', 's', 'l', 'm', 'c', 'y', 'i', 'd']

In [28]:
heisenberg_quote.split(',')

['it ceases to exist without me no clearly dont know who you are taking to so let me clue you in dang']

In [29]:
my_string='alphabet inc'
list_of_characters=[char for char in my_string]
print(list_of_characters)

['a', 'l', 'p', 'h', 'a', 'b', 'e', 't', ' ', 'i', 'n', 'c']

In [30]:
days=('monday','tuesday','wednesday','thursday','friday','saturday','sunday')
tuple(day for day in days)

('monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday')

In [31]:
days_without_day=tuple(day[:-3] for day in days)
print(days_without_day)

('mon', 'tues', 'wednes', 'thurs', 'fri', 'satur', 'sun')

In [34]:
first_letters=set()
for word in words_by_walter:
    first_letters.add(word[0])
print(first_letters)

{'y', 'l', 'a', 'i', 'e', 't', 'k', 'm', 'w', 's', 'c', 'n', 'd'}

In [36]:
first_letters=[word[0] for word in words_by_walter]
print(first_letters)

['i', 'c', 't', 'e', 'w', 'm', 'n', 'c', 'd', 'k', 'w', 'y', 'a', 't', 't', 's', 'l', 'm', 'c', 'y', 'i', 'd']

In [37]:
country_city_list=[('india','new delhi'),('australia','cannebara'),('united states','washingdon dc'),('engaland','london')]
country_city_dic=dict(country_city_list)
print(country_city_dic)

{'india': 'new delhi', 'australia': 'cannebara', 'united states': 'washingdon dc', 'engaland': 'london'}

In [39]:
flipped={}
for country, city in country_city_dic.items():
    flipped[city]=country
print(flipped)

{'new delhi': 'india', 'cannebara': 'australia', 'washingdon dc': 'united states', 'london': 'engaland'}

In [40]:
flipped={city:country for country, city in country_city_dic.items() if country[0] in['e','a']}
print(flipped)

{'cannebara': 'australia', 'london': 'engaland'}

In [41]:
flipped={country[:2]:city[-2:]  for country, city in country_city_dic.items()}
print(flipped)

{'in': 'hi', 'au': 'ra', 'un': 'dc', 'en': 'on'}

In [42]:
print(country_city_dic)

{'india': 'new delhi', 'australia': 'cannebara', 'united states': 'washingdon dc', 'engaland': 'london'}