<a href="https://colab.research.google.com/github/shaily-uni/data-science-python/blob/main/functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
heisenberg_quote="it ceases to exist without me no clearly dont know who you are taking to so let me clue you in dang "
words_by_walter=heisenberg_quote.split()
first_letters=[word[0] for word in words_by_walter]
print(first_letters)

['i', 'c', 't', 'e', 'w', 'm', 'n', 'c', 'd', 'k', 'w', 'y', 'a', 't', 't', 's', 'l', 'm', 'c', 'y', 'i', 'd']

In [2]:
heisenberg_quote="it ceases to exist without me. no, clearly dont know who you are taking to so let me clue you in dang"
def extract_first_letters(sentence):
  words_in_sentence=sentence.split(' ')
  first_letters = [word[0] for  word in words_in_sentence]
  return first_letters
print(extract_first_letters(heisenberg_quote))

['i', 'c', 't', 'e', 'w', 'm', 'n', 'c', 'd', 'k', 'w', 'y', 'a', 't', 't', 's', 'l', 'm', 'c', 'y', 'i', 'd']

In [3]:
starwars_quoote="May the force be with you"
FIRST_LETTERS_STARWARS=extract_first_letters(starwars_quoote)
print(FIRST_LETTERS_STARWARS)

['M', 't', 'f', 'b', 'w', 'y']

In [4]:
def factorial(num):
 result=1
 if num<0:
  print("factorial is not defined for negative numbers")
 elif num>0:
    for i in range(1,num+1):
      result=result*i
    print(f"the factorila of {num} is {result}")
 else:
    result=1
    print('factorial of 0 is', result)
factorial(5)

the factorila of 5 is 120

In [10]:
def asignquarter(user_date):
  date_year=user_date[:4]
  date_month=user_date[5:7]
  if(date_month>='01')&(date_month<='03'):
    quarter=date_year+'-Q1'
  elif(date_month>='04')&(date_month<='06'):
     quarter=date_year+'-Q2'
  elif(date_month>='07')&(date_month<='09'):
     quarter=date_year+'-Q3'
  elif(date_month>='10')&(date_month<='12'):
     quarter=date_year+'-Q4'
  print(f'the corresponding date for date {user_date} is {quarter}')
sample_date='2022-04-01'
date_quarter=asignquarter(sample_date)
print(date_quarter)

the corresponding date for date 2022-04-01 is 2022-Q2
None

In [12]:
def evenorodd(num):
  if num%2==0:
    return 'even'
  return 'odd'
result=evenorodd(5)
print(result)

odd

In [14]:
heights=[11134,4656,454,454,5434]
def list_append(mylist,elem):
  newlist=mylist+[elem]
  return newlist
print(heights)

[11134, 4656, 454, 454, 5434]

In [15]:
list_append(heights,1878)

[11134, 4656, 454, 454, 5434, 1878]

In [16]:
list_append(heights,elem=40)

[11134, 4656, 454, 454, 5434, 40]

In [18]:
heights.append(40)
print(heights)

[11134, 4656, 454, 454, 5434, 40, 40]